@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap');
body{
  margin: 0;
  padding: 0;
}
.sign{
  font-family: lora, serif;
  letter-spacing: 8px;
  font-size: 50px; 
  line-height: 1px;
}
.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; 
}
.text{
  font-family: lora serif;
  color: #747474;
  font-size: 18px;
  letter-spacing: 1px;
}
.demo{
  padding: 16px 28px 16px 33px;
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  width: fit-content;
}
.demo:hover{
  background-color: #5b5b5b;
  transition-duration: 0.5s;
}
i{
  margin-left: 5px;
}