.page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 5%;
  margin-bottom: 70px;
}

.page-pic{
  cursor: pointer;
  display: inline-block;
  height: 100px;
}

.page-one{
  display: block;
  text-align: center;
  margin-right: 60px;
  margin-bottom: 70px;
  height: 300px;
  position: relative;
}
.page-one:hover .page-overlay{
  display: flex;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0.32);
}
.page-overlay{
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.copy{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 50px;
  border-style: none;
  height: 50px;
  width: 180px;
  padding: 0;
  cursor: pointer;
  color: white;
  margin-left: 45%;
}
.feature{
  margin-left: 480px;
  margin-top: 70px;
  font-family: Lora Serif;
  font-size: 17px;
}
.feat{
  height: 100px;
  font-size: 46px;
  margin-left: 450px;
  font-weight: 600;
}
.watch{
  background-color: #2f2f2f;
  padding: 13px 23px;
  margin-left: 630px;
  width: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 200px;
}
.watch:hover{
  background-color: #5b5b5b;
  transition-duration: 0.5s;
  font: 16px;
}
.header-styles{
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 600;
}
.header-style{
  font-size: 17px;
  margin-right: 40px;
  font-family: Lora serif;
}
.header-styl{
  margin-left: 130px;
  text-align: center;
}
/* ejddefmefmkemdmfkwmfddmkdmsdkdmskdmsmmkf;ENFJEFENFEJIENFFDFNEJNDMFNEJKSSMDKDWSWOKWEWJEIDKDMWOKSWOKWEJWIEWDKWW */
